<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/src/client/styles/logo.jpg" alt="logo">
        </div>
        <div class="title">
            please enter the text that you would like to check:
        </div>
    </header>
    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="Name">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
            </form>
            <section>

                <section>
                    <strong>Form Results:</strong>
                    <div id="results"></div>
                    <div id="polarity">polarity:</div>
                    <div id="subjectivity">subjectivity:</div>
                    <div id="test">text:</div>
                    <div id="polarity_confidence">polarity_confidence:</div>
                    <div id="subjectivity_confidence">subjectivity_confidence:</div>
                </section>
    </main>
    <footer>
        <p>Liran weisbord - project num# 4</p>
    </footer>
    <!--
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
    -->
</body>

</html>