<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/src/client/styles/logo.jpg" alt="logo">
        </div>
        <div class="title">
            please enter the URL that you would like to check:
        </div>
    </header>
    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="Please Enter a URL">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">

            </form>

            <section>

                <section class="fromAPI">
                    <div id="output"><u>Output:</u></div>
                    <br>
                    <strong id="res1">Results from URL:</strong>
                    <div id="results"></div>
                    <br>
                    <strong id="pol1">Polarity:</strong>
                    <div id="polarity"></div>
                    <br>
                    <strong id="pol_c">Polarity Confidence:</strong>
                    <div id="polarity_confidence"></div>
                    <br>
                    <strong id="sub_c">Subjectivity Confidence:</strong>
                    <div id="subjectivity_confidence"></div>
                </section>
    </main>
    <footer>
        <p>Liran weisbord - project num# 4</p>
    </footer>
    <!--
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
    -->
</body>

</html>