body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #369eb8;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

#output {
    color: rgb(116, 7, 7);
    font-size: large;
}

#res1 {
    color: aliceblue;
    font-size: large;
}

#pol1 {
    color: aliceblue;
    font-size: large;
}

#pol_c {
    color: aliceblue;
    font-size: large;
}

#polarity_confidence {
    font-weight: bold;
    font-size: large;
}

#sub_c {
    color: aliceblue;
    font-size: large;
}

#subjectivity_confidence {
    font-weight: bold;
    font-size: large;
}