header {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
}

.logo {
    border-image: black;
}

.title {
    display: flex;
    background-color: rgb(86, 117, 86);
    justify-content: center;
    padding: 30px;
    font-size: xx-large;
    font-style: normal;
    font-family: cursive;
    color: aliceblue;
}

#err {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-family: cursive;
    color: rgb(143, 15, 15);
}